---
import CommonLayout from '../../layout/CommonLayout.astro';
import WorkCard from '../../features/work/components/WorkCard.astro';

import { generateSampleWork } from '../../context/works/sample';
---

<CommonLayout>
	<h1>Work cards</h1>
	<hr />
	{Array.from({ length: 10 }).map((_, i) => <WorkCard work={generateSampleWork(i)} />)}
</CommonLayout>
