---
import CommonLayout from '../../layout/CommonLayout.astro';
import WorkCard from '../../features/work/components/WorkCard.astro';

import {
	createWorkWithInlineLogoFixture,
	createWorkWithPeriodFixture,
	createWorkWithPortraitFixture,
	createWorkWithLongTextFixture,
} from '../../context/work/fixtures';
import { createSampleWork } from '../../context/work/factories';

const works = [
	createSampleWork(),
	createWorkWithPortraitFixture(),
	createWorkWithInlineLogoFixture(),
	createWorkWithPeriodFixture(),
	createWorkWithLongTextFixture(),
];
---

<CommonLayout>
	<h1>Work cards</h1>
	<hr />
	{works.map((work) => <WorkCard {work} />)}
</CommonLayout>
