---
import CommonLayout from '../../layout/CommonLayout.astro';
import { getCollection } from 'astro:content';

import { collectionToWork } from '../../context/work/collection';

const works = await getCollection('works');

const processedWorks = await Promise.all(works.map(async (work) => [work, await collectionToWork(work)]));
---

<CommonLayout>
	{
		processedWorks.map(([rawWork, work]) => (
			<>
				<h2>Raw work</h2>
				<pre>{JSON.stringify(structuredClone(rawWork), undefined, 2)}</pre>
				<h2>Work</h2>
				<pre>{JSON.stringify(structuredClone(work), undefined, 2)}</pre>
				<hr />
			</>
		))
	}
</CommonLayout>
