---
import CommonLayout from '../../layout/CommonLayout.astro';
import { WorkCard } from '../../features/work/components/WorkCard';

import {
	createWorkWithInlineLogoFixture,
	createWorkWithPeriodFixture,
	createWorkWithPortraitFixture,
	createWorkWithLongTextFixture,
} from '../../context/work/fixtures';
import { createSampleWork } from '../../context/work/factories';

const works = [
	createSampleWork(),
	{ ...createWorkWithPortraitFixture(), id: 'work-1' },
	{ ...createWorkWithInlineLogoFixture(), id: 'work-2' },
	{ ...createWorkWithPeriodFixture(), id: 'work-3' },
	{ ...createWorkWithLongTextFixture(), id: 'work-4' },
];
---

<CommonLayout>
	<h1>Work cards</h1>
	<hr />
	{works.map((work) => <WorkCard key={work.id} {work} />)}
</CommonLayout>
