---
import CommonLayout from '../layout/CommonLayout.astro';
import PageLayout from '../layout/PageLayout.astro';
import KeyVisual from './_internal/components/KeyVisual.astro';
---

<CommonLayout>
	<div style="background-color:#777;height:30vh;width:100vw">TODO: Implement</div>
	<PageLayout />
</CommonLayout>
