---
import { copyright, footer, logos } from './Footer.css';
---

<footer class={footer}>
	<div class={logos}>
		<img src="/ljus.svg" alt="ljus" width={120} height={120} />
		<img src="/circle.svg" alt="七夕の月光" width={188.44} height={69.4} />
	</div>
	<p class={copyright}>2025 raychan All Rights Reserved.</p>
</footer>
