---
import type { HTMLAttributes } from 'astro/types';

import { root } from './LinkButton.css';

interface Props extends HTMLAttributes<'a'> {
	// always required
	href: string;
}

const { class: className, href, ...props } = Astro.props;
---

<a href={href} class={`${root} ${className ?? ''}`} {...props}>
	<slot />
</a>
