---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

import { main, smallTopPadding } from './PageLayout.css';

interface Props {
	class?: string;
	smallerTopPadding?: boolean;
}

const { class: className, smallerTopPadding = false } = Astro.props;
---

<Fragment>
	<Header />
	<main class:list={[main, smallerTopPadding && smallTopPadding, className]}>
		<slot />
	</main>
	<Footer />
</Fragment>
