---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { main } from './PageLayout.css';
---

<Fragment>
	<Header />
	<main class={main}>
		<slot />
	</main>
	<Footer />
</Fragment>
